@page "/tickets"

<PageTitle>Book Now!</PageTitle>

<MudContainer Class="mt-16">
    <MudText Typo="Typo.h2" Align="Align.Center" GutterBottom="true"><b>Book a Visit!</b></MudText>
    <MudItem>
        <MudCard Elevation="0">
            <MudText Typo="Typo.h4" Align="Align.Center">Why Book Online?</MudText>
            <MudGrid>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Elevation="25" Class="rounded-lg pb-4">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">Pick your arrival time.</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Elevation="25" Class="rounded-lg pb-4">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">E-Tickets delivered dircetly to your inbox.</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Elevation="25" Class="rounded-lg pb-4">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">Save £5 per ticket!</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudCard>
    </MudItem>
</MudContainer>
<MudContainer>
    <MudText Typo="Typo.h4" Align="Align.Center">Our Available Offers!</MudText>
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Admission Tickets</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h6" Class="ml-1 mt-5">Prices from</MudText>
                        <MudText Typo="Typo.h4" Class="ml-1 mt-5" Color="Color.Secondary">£19.99</MudText>
                        <MudText Typo="Typo.h6" Class="ml-1 mt-5">per person.</MudText>
                    </div>
                    <MudList T="string" Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.Check">
                            Save almost £5 per ticket when booking up until midnight the day before your planned visit.
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Check">
                            Hundreds of animals to see at our zoo!
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" Href="/tickets/processing">Explore Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Annual Membership</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h6" Class="ml-1 mt-5">Prices from</MudText>
                        <MudText Typo="Typo.h4" Class="ml-1 mt-5" Color="Color.Secondary">£81.99</MudText>
                        <MudText Typo="Typo.h6" Class="ml-1 mt-5">per person.</MudText>
                    </div>
                    <MudList T="string" Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.Check">
                            Choose from variation of levels of memberships to choose from.
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Check">
                            Unlimited  visits for 12 months.
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Check">
                            Exclusive Food & Drink discounts as well as gifts!
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Check">
                            And many more perks available.
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" Href="/membership">Explore Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">The Ranger Experience</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h6" Class="ml-1 mt-5">Prices from</MudText>
                        <MudText Typo="Typo.h4" Class="ml-1 mt-5" Color="Color.Secondary">£120</MudText>
                        <MudText Typo="Typo.h6" Class="ml-1 mt-5">per 2 people.</MudText>
                    </div>
                    <MudList T="string" Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.Check">
                            Get up close and play with many of our incredible animals.
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Check">
                            Go behind the scenes of the park and see what it is truely about.
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Check">
                            Learn all the in and outs with our animals with experienced rangers.
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Check">
                            Park entry included.
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" Href="/animals/rangerexperience">Explore Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

<MudContainer>
    <MudItem>
        <MudCard Elevation="0">
            <MudText Typo="Typo.h4" Align="Align.Center">Other Ways to Visit?</MudText>
            <MudGrid>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Elevation="25" Class="rounded-lg pb-4">
                        <MudCardMedia Image="images/RedPanda(1).jpg" Height="200" />
                        <MudCardContent>
                            <MudText Typo="Typo.h5">Memberships</MudText>
                            <MudText Typo="Typo.body2">Already a memeber?</MudText>
                            <MudText Typo="Typo.body2">Book a visit right now!</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary">Explore Now!</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Elevation="25" Class="rounded-lg pb-4">
                        <MudCardMedia Image="images/SchoolTrip(1).jpg" Height="200" />
                        <MudCardContent>
                            <MudText Typo="Typo.h5">Educational Visits</MudText>
                            <MudText Typo="Typo.body2">Planning for a school trip?</MudText>
                            <MudText Typo="Typo.body2">Get a enquiry now!</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary">Explore Now!</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Elevation="25" Class="rounded-lg pb-4">
                        <MudCardMedia Image="images/TourGuide(1).jpg" Height="200" />
                        <MudCardContent>
                            <MudText Typo="Typo.h5">Tour Groups</MudText>
                            <MudText Typo="Typo.body2">Want a tour operator to walk you through?</MudText>
                            <MudText Typo="Typo.body2">Get a booking right now!</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary">Explore Now!</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudCard>
    </MudItem>
</MudContainer>



@code {

}
