@inherits LayoutComponentBase
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation = "10" Style="@($"background:{Colors.LightGreen.Darken2};")">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <a href="/">The Zoo!</a>
        <MudSpacer />

        <MudMenu Label="Book/Buy" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
            <ActivatorContent>
                <MudChip T="string" Size="Size.Large" Variant="Variant.Outlined" Color="Color.Dark">Book/Buy</MudChip>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem Href="/">Park Admission Tickets</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Memberships</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Members Admission</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">The Real Ranger Experience</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Gift Shop</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Adobt an Animal</MudMenuItem>
            </ChildContent>
        </MudMenu>
        <MudSpacer />

        <MudMenu Label="Explore" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
            <ActivatorContent>
                <MudChip T="string" Size="Size.Large" Variant="Variant.Outlined" Color="Color.Dark">Explore</MudChip>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem Href="/animals"> Animals </MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/animals/experience"> Animal Experiences </MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/events"> Shows & Ranger Talks </MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/events/special"> Special Events </MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/map"> Park Map </MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/hotel/experience"> Stay at the Hotel </MudMenuItem>
            </ChildContent>
        </MudMenu>
        <MudSpacer />

        <MudMenu Label="Venue Hire" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
            <ActivatorContent>
                <MudChip T="string" Size="Size.Large" Variant="Variant.Outlined" Color="Color.Dark">Venue Hire</MudChip>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem Href="/">Weddings</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Corporate Hospitality</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Team Building</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Meetings & Conferences</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Private Parties</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Educational Visits</MudMenuItem>
            </ChildContent>
        </MudMenu>
        <MudSpacer />

        <MudMenu Label="More" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
            <ActivatorContent>
                <MudChip T="string" Size="Size.Large" Variant="Variant.Outlined" Color="Color.Dark">More</MudChip>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem Href="/">Opening Times</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">How to get here</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Accessibility</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Policies</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">Contact</MudMenuItem>
                <MudDivider />
                <MudMenuItem Href="/">FAQs</MudMenuItem>
            </ChildContent>
        </MudMenu>
        <MudSpacer />
        
        <MudButton Variant="Variant.Filled" Style="@($"color:{Colors.Shades.White} ; background:{Colors.Green.Darken3};")" Href="/">Book Tickets!</MudButton>
        <MudIconButton Icon="@Icons.Material.Filled.Login" Color="Color.Inherit" OnClick="@((e) => LoginToggle())" />
        <MudPopover Open="@_login" Fixed="true" Class="px-4 pt-4" AnchorOrigin = "Origin.TopRight" TransformOrigin = "Origin.TopRight">
            <div class="d-flex flex-column">
                <MudForm @ref="LoginTicket" @bind-IsValid="@success" @bind-Errors="@errors">
                    <MudTextField T="string" Label="Username/Email" Required="true" RequiredError="Username or an Email is required!" />
                    <MudTextField T="string" Label="Password" Required="true" HelperText="Please input the password to the account." @ref="pwField1" InputType="InputType.Password" RequiredError="Password is required!"/>
                    <div class="d-flex align-center justify-space-between">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Log in</MudButton>
                    </div>
                </MudForm>
                Dont have an account? 
                <a href="/register"> Sign up!</a>
            </div>
        </MudPopover>    
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = false;
    private bool _login;
    bool employee = true;
    bool success;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm LoginTicket;

    // private IEnumerable<string> PasswordStrength(string pw)
    // {
    //     if (string.IsNullOrWhiteSpace(pw))
    //     {
    //         yield return "Password is required!";
    //         yield break;
    //     }
    //     if (pw.Length < 8)
    //         yield return "Password must be at least of length 8";
    //     if (!Regex.IsMatch(pw, @"[A-Z]"))
    //         yield return "Password must contain at least one capital letter";
    //     if (!Regex.IsMatch(pw, @"[a-z]"))
    //         yield return "Password must contain at least one lowercase letter";
    //     if (!Regex.IsMatch(pw, @"[0-9]"))
    //         yield return "Password must contain at least one digit";
    // }

    // private string PasswordMatch(string arg)
    // {
    //     if (pwField1.Value != arg)
    //         return "Passwords don't match";
    //     return null;
    // }

    void DrawerToggle()
    {
        if (employee == false)
        {
            return;
        }
        else
        {
            _drawerOpen = !_drawerOpen;
        }
    }

    private void LoginToggle() => _login = !_login;
}