@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PracticeWebsite</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Log In
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register
            </NavLink>
        </div>
    </nav>
</div> *@

<MudNavMenu>
    <MudText Typo="Typo.h6" Class="px-4">Employee ToolBox</MudText>
    <MudDivider Class="my-2" />
    <MudNavLink Href="/servers" Icon="@Icons.Material.Filled.Storage" >Server Connections</MudNavLink>
    <MudNavGroup Title="Settings" Icon="@Icons.Material.Filled.Settings" Expanded="true">
        <MudNavLink Href="/userman" Icon="@Icons.Material.Filled.People" >User Management</MudNavLink>
        <MudNavLink Href="/securityman" Icon="@Icons.Material.Filled.AdminPanelSettings" >Security Management</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/dataman" Icon="@Icons.Material.Filled.Equalizer">Data Records</MudNavLink>
    <MudNavLink Href="/about" Icon="@Icons.Material.Filled.Build" >About</MudNavLink>
</MudNavMenu>